<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
     
    </ion-buttons>
    <ion-title>FEBRERO 2021</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-button 
        routerLink="/ejercicio1" routerDirection="forward"
        color="primary" expand="block">EJERCICIO 1
    </ion-button>

    <ion-button 
        routerLink="/ejercicio2" routerDirection="forward"
        color="primary" expand="block">EJERCICIO 2
    </ion-button>

    <ion-button 
        routerLink="/ejercicio3" routerDirection="forward"
        color="primary" expand="block">EJERCICIO 3
    </ion-button>

</ion-content>
